.box {
  display: flex;
  flex-direction: column;

  max-width: 10em;
  text-align: center;

  padding-left: 2em;
  padding-right: 2em;
}

h2 {
  margin-bottom: 0;
}

.flex {
  display: flex;
}
.flex.space-between {
  justify-content: space-between;
}

.flex.vertical {
  flex-direction: column;
}

.progress-group {
  height: 7em;
}

div.spacer {
  height: 2em;
}

.shift-left {
  margin-left: -1em;
}
