<mat-sidenav-container>
  <mat-sidenav
    *ngIf="auth.loggedIn"
    #sidenav
    [mode]="sideNavMode"
    role="navigation"
    [opened]="sideNavOpened"
    class="fixed"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="invoices"
        (click)="sidenav.mode === 'over' && sidenav.close()"
        >Invoices</a
      >
      <a
        mat-list-item
        routerLink="vendors"
        (click)="sidenav.mode === 'over' && sidenav.close()"
        >Vendors</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Main Content -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
