<h1 class="text-center">Tymish Admin Login</h1>

<form [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" id="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" id="password" />
  </mat-form-field>

  <button mat-raised-button class="form-button" color="primary" type="submit">
    Login
  </button>
</form>
