<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #filter_drawer mode="over" position="end" class="filter-drawer"
    ><h2 class="m-2">Filters</h2>
    <mat-radio-group class="flex-col" (change)="filter_drawer.toggle()">
      <mat-radio-button class="m-2" value="after"
        >Not submitted</mat-radio-button
      >
      <mat-radio-button class="m-2" value="before">Submitted</mat-radio-button>
      <mat-radio-button class="m-2" value="paid">Paid</mat-radio-button>
    </mat-radio-group>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container">
      <mat-card>
        <mat-card-actions class="flex-between">
          <button mat-button routerLink="/invoices">
            <i class="material-icons">arrow_back</i>
            Back to invoices
          </button>
          <button mat-icon-button (click)="filter_drawer.toggle()">
            <i class="material-icons">filter_list</i>
          </button>
        </mat-card-actions>

        <mat-card-header>
          <!-- <mat-card-title
            >{{ monthNumberToString(month) }} {{ year }} Invoices
          </mat-card-title> -->
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <div mat-subheader>Employees</div>
            <mat-list-item *ngFor="let a of aggregates$ | async">
              <!-- <img matListAvatar src="" alt="" /> -->
              <div matListAvatar class="avatar">
                {{ a.employee.givenName.charAt(0) }}
              </div>
              <div matLine>
                {{ a.employee.givenName }} {{ a.employee.familyName }}
              </div>
              <div matLine>Invoice submitted: {{ a.submitted }}</div>
              <div matLine>Balance: {{ a.amountOwed }}</div>
              <div class="spacer"></div>
              <button mat-icon-button [matMenuTriggerFor]="timeReportMenu">
                <i class="material-icons">more_vert</i>
              </button>

              <mat-menu #timeReportMenu="matMenu">
                <button mat-menu-item>Send Reminder</button>
                <button
                  mat-menu-item
                  [routerLink]="['/invoices', a.timeReportId]"
                >
                  View Invoice
                </button>
              </mat-menu>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
