<div class="container">
  <mat-card *ngIf="invoice$ | async as invoice">
    <div *ngIf="invoice.timeEntries; else noInvoiceSubmitted">
      <table>
        <tr>
          <th>Date</th>
          <th>Start</th>
          <th>End</th>
        </tr>
        <tr *ngFor="let entry of invoice.timeEntries">
          <td>{{ entry.start | date: 'EEEE, MMMM dd' }}</td>
          <td>{{ entry.start | date: 'h:mm a' }}</td>
          <td>{{ entry.end | date: 'h:mm a' }}</td>
        </tr>
      </table>
      <form [formGroup]="form" (submit)="markAsPaid(invoice.id)">
        <mat-form-field appearance="outline">
          <mat-label>E-transfer Reference No.</mat-label>
          <input
            matInput
            type="text"
            formControlName="eTransferReference"
            placeholder="CAyjXgxc"
          />
        </mat-form-field>
        <button mat-button color="primary" type="submit">Mark as paid</button>
      </form>
    </div>
  </mat-card>
</div>

<ng-template #noInvoiceSubmitted>
  <mat-card-title>Hmm...</mat-card-title>
  <p>
    This invoice has not been submitted yet.
  </p>
  <p>Send them this link to submit their invoice</p>
  <code *ngIf="invoice$ | async as invoice">{{ submitLink(invoice.id) }}</code>
</ng-template>
