<button routerLink="/employees/add">Add Employee</button>

<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>given Name</th>
        <th>family Name</th>
        <th>hourly pay</th>
    </tr>
    <tr *ngFor="let employee of employees$ | async">
        <td>{{employee.id}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.givenName}}</td>
        <td>{{employee.familyName}}</td>
        <td>{{employee.hourlyPay}}</td>
        <td><button (click)="delete(employee.employeeNumber)">Delete</button></td>
        <td><button [routerLink]="[employee.employeeNumber, 'manage']">Manage</button></td>
    </tr>
</table>