<div class="container">
    <div class="row">
        <h2>Employees</h2>
        <button routerLink="/employees/add">Add Employee</button>
    </div>

    <div class="employee-list">
        <div class="employee-list-employee" *ngFor="let employee of employees$ | async"
            [routerLink]="[employee.employeeNumber, 'manage']">
            <img class="head-shot" src="https://via.placeholder.com/75" alt="head shot">
            <div class="overview">
                <div class="name">
                    {{employee.givenName}} {{employee.familyName}}
                </div>
                <div class="email">{{employee.email}}</div>
            </div>
            <button (click)="delete(employee.employeeNumber)">Delete</button>
        </div>
    </div>
</div>