.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.row {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.d-flex.col {
    flex-direction: column;
}

.d-flex.row {
    flex-direction: row;
}
.p-1 {
    padding: 1em;
}
.w-100 {
    width: 100%;
}

.employee-list-employee:hover {
    background-color: #0c0c0c0c;
}

.employee-list-employee > .overview {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name,
.email {
    padding: .5em;
    width: 100%;
}

.employee-list-employee > button {
    margin-left: auto;
}