<h1>Pay Invoice</h1>
<p>Mark the invoice as paid.</p>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput #amount />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-Transfer Reference #</mat-label>
    <input matInput #reference />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="payInvoice(+amount.value, reference.value)"
    type="button"
  >
    Mark as paid
  </button>
</form>
