mat-form-field {
    max-width: 10em;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.mt-1 {
    margin-top: .7em;
}

